@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
body {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

body._lock {
  overflow: hidden;
}

.header {
  width: 100%;
  background-color: #1B3764;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

._conteiner {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media screen and (max-width: 1000px) {
  ._conteiner {
    /* стили для больших планшетов - начало */
    max-width: 900px;
  }
}
@media screen and (max-width: 768px) {
  ._conteiner {
    /* стили для средних планшетов - начало */
    max-width: 710px;
  }
}
@media screen and (max-width: 480px) {
  ._conteiner {
    /* стили для телефонов - начало */
    max-width: none;
  }
}

.header_row {
  height: 109px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.soc_icon {
  width: 45px;
  height: 45px;
  background-color: white;
  text-align: center;
  padding: 12px;
  margin-left: 10px;
}

.soc_icons {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
@media screen and (max-width: 480px) {
  .soc_icons {
    margin-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .soc_icons {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .soc_icons {
    margin-left: 30px;
  }
}

.header_left_row {
  width: 40%;
  display: flex;
  flex-direction: row;
}

.header_right_row {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_right_row a {
  color: #F6F8FC;
  text-decoration: none;
}
.header_right_row a:active {
  color: #FFCA42;
}
.header_right_row .menu_icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu_icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu_icon::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 109px;
    background-color: #1B3764;
    z-index: 2;
  }
  .menu_icon span,
.menu_icon::before,
.menu_icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #FFCA42;
  }
  .menu_icon::before,
.menu_icon::after {
    content: "";
  }
  .menu_icon::before {
    top: 0;
  }
  .menu_icon::after {
    bottom: 0;
  }
  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu_icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu_icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header_right_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #1B3764;
    transition: left 0.3s ease 0s;
    margin-top: 109px;
    padding-bottom: 109px;
  }
  .header_right_row a {
    font-size: 24px;
    margin: 15px;
  }
  .header_right_row._active {
    left: 0px;
    overflow: auto;
  }
}
.btn-pay {
  background-color: #FFCA42;
  color: #1B3764;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  border: none;
  margin: 5px;
  padding: 25px;
}

.section_1 {
  margin-top: 109px;
  width: 100%;
  background-color: #1B3764;
}

.block_1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block_1 .info {
  width: 45%;
}
.block_1 .info h2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.block_1 .info h1 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.block_1 .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #B4C7E7;
}
.block_1 .info .btn {
  width: 100%;
  margin: 20px 0px;
}
.block_1 .info .btn .btn-pay {
  width: 33%;
  padding: 15px;
}
.block_1 .info .btn .btn-free-demo {
  margin: 0px 51px;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
  background: none;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}
.block_1 .info .info_book {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.block_1 .info .info_book .inf_bk_ch {
  display: flex;
  flex-direction: row;
}
.block_1 .info .info_book h3 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.block_1 .picture {
  width: 45%;
  padding: 20px;
}
.block_1 .picture img {
  width: 100%;
}

.point {
  background-color: #FFCA42;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  margin: 8px;
}

.rectangle {
  width: 4%;
  height: 2px;
  margin: 2px;
  background-color: #FFCA42;
}

@media screen and (max-width: 768px) {
  .block_1 {
    flex-direction: column;
  }
  .block_1 .info {
    width: 90%;
  }
}
.section_2 {
  background-color: #FFFFFF;
}

.block_2 {
  width: 100%;
  margin: 50px auto;
}
.block_2 h1 {
  text-align: center;
  padding: 15px;
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 32px;
  color: #1B3764;
}
.block_2 .rectangle {
  margin: auto;
  padding: 0px;
}
.block_2 .block_books {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 25px;
  margin-top: 25px;
}
.block_2 .block_books .book {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block_2 .block_books .book img {
  width: 45%;
}
.block_2 .block_books .book h2 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 32px;
  color: #1B3764;
  margin: 10px;
}
.block_2 .block_books .book .price {
  padding: 5px;
}
.block_2 .block_books .book .price p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #FFCA42;
}
.block_2 .block_books .book p {
  margin: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #969AA0;
}
.block_2 .block_books .book .print {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.block_2 .block_books .book .print p {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-size: 24px;
  color: #1B3764;
}
.block_2 .block_books .book .print .btn-pay {
  background: none;
  border: 2px solid #FFCA42;
  width: 75%;
  padding: 18px;
  margin: 10px;
}

.section_3 {
  background-color: #F5F8FC;
}

.block_3 {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block_3 .author_pic {
  margin: 25px;
  width: 50%;
  border: 10px solid #FFCA42;
}
.block_3 .author_pic img {
  filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
  position: relative;
  top: -50px;
  left: -50px;
  width: 100%;
}
.block_3 .author_info {
  width: 50%;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block_3 .author_info h1 {
  font-family: "Cardo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  color: #1B3764;
}
.block_3 .author_info p {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: #969AA0;
}
.block_3 .author_info .rectangle {
  width: 50px;
  margin-bottom: 40px;
}
.block_3 .author_info .info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}
.block_3 .author_info .info .sub {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.33%;
}
.block_3 .author_info .info .sub h1 {
  font-family: "Cardo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  color: #1B3764;
}
.block_3 .author_info .info .sub p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #969AA0;
}
.block_3 .author_info .info ._info_2 {
  border-left: 1px solid #FFCA42;
  border-right: 1px solid #FFCA42;
}
.block_3 .author_info .card_qr {
  display: flex;
  flex-direction: row;
  background-color: #1B3764;
  width: 90%;
  margin-bottom: 25px;
}
.block_3 .author_info .card_qr img {
  margin: 20px;
}
.block_3 .author_info .card_qr .text_qr {
  margin: 20px;
}
.block_3 .author_info .card_qr .text_qr h3 {
  font-family: "Cardo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #FFCA42;
}
.block_3 .author_info .card_qr .text_qr p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #B4C7E7;
}

/*# sourceMappingURL=style.css.map */
